@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base{
  
  input[type="submit"], input[type="reset"] {
    @apply bg-emerald-400;
  }

  button, input[type="submit"],input[type="reset"], input[type="text"] ,.button {
    @apply focus:ring-emerald-500 border-2
    text-white hover:text-black
    transition-all duration-150 ease-in
    px-3 py-3 rounded-lg shadow-sm 
    hover:bg-white hover:ring-emerald-500 hover:border-emerald-500 
    hover:rounded-xl
    dark:text-white dark:border-emerald-500 dark:hover:bg-emerald-400 dark:bg-slate-800;
  }
}

button:hover, input[type="submit"]:hover, .button:hover{
  cursor: pointer;
}

.body{
  min-height: 100vh;
}

@layer components{

  .body{
    @apply
    flex
    bg-white
    dark:bg-slate-800 dark:text-slate-400
    pt-10 ;
  }

  .field{
    @apply mt-1 block w-full
    border-emerald-500
    shadow-sm 
    px-3 py-3
    focus:outline-none focus:ring focus:ring-emerald-500 
   hover:rounded-lg
   ease-in-out transition-all duration-150
   
   dark:text-white dark:bg-slate-800;
  }

  .home-container{
    @apply mx-20;
  }

  .main-content-container {
    @apply flex h-full flex-col;
  }

  .dashboard-container{
    @apply /**h-full**/ flex justify-center;
  }
  

  @media (max-width: 1000px) {
    .main-content-container{
      height:auto;
    }
    .home-container{
      @apply mx-10;
    }
    .dashboard-container{
      @apply h-full flex flex-col;
    }
  }

  .card-container{
    @apply /**bg-gray-400
    border-gray-400
    border-2**/

    rounded-3xl
    m-5
    p-6;
  }
  .card-container:hover,.card-container:active, .card-container:focus{
    @apply rounded-lg
    ;
  }
  .card-container > h1 {
    @apply text-4xl  font-bold
    text-black mb-6
    dark:text-white ;
  }

  .split{
    @apply flex-[50%];
  }
  


  .header {
    @apply flex flex-row items-center justify-between 
    bg-opacity-90 
    w-full h-48
    ease-in-out transition-shadow duration-150
    py-5
    px-10
    max-h-24
    dark:bg-slate-800;
  }
  
  .header-icon {
    @apply text-gray-500
    mr-3 ml-4
    transition duration-300 ease-in-out 
    hover:text-pink-400 
    cursor-pointer;
  }

  .header-icon:first {
    @apply ml-auto mr-4;
  }

  .title-hashtag {
    @apply text-lg tracking-wider font-semibold text-gray-500 
    ml-2 my-auto;
  }

  .title-text, .title-text-alt{
    @apply text-4xl text-emerald-700 dark:text-emerald-300 tracking-wider font-bold text-opacity-80 
    mr-auto ml-2 my-auto 
    transition duration-300 ease-in-out;
  }

  .search {
    @apply w-1/5 flex items-center justify-start 
    bg-gray-400 dark:bg-gray-600
    text-gray-500
    px-2 h-9 ml-0 mr-0 
    rounded-md shadow-md
    transition duration-300 ease-in-out;
  }

  .search-input {
    @apply w-full font-sans font-semibold
    bg-transparent outline-none 
    text-gray-500  placeholder-gray-500
    pl-1 rounded;
  }


  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 mx-auto  
  bg-gray-400 hover:bg-green-600 dark:bg-gray-800 
  text-green-500 hover:text-white
    hover:rounded-xl rounded-3xl
    transition-all duration-300 ease-linear
    cursor-pointer shadow-lg ;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  }

  .sidebar-hr {
    @apply bg-gray-200 dark:bg-gray-800 
    border border-gray-200 dark:border-gray-800 rounded-full
    mx-2;
  }

  

  #book-form-grid{
    @apply py-6;
  }

  .link-container{
    @apply mx-auto text-center;
  }
  
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255,255,255,0); 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.header:after {
  display:block;
  content: '';
  margin-top: 2rem;
  border-bottom: solid 3px #047857;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.header:hover:after{
  transform: scaleX(1);
}

.title-text:after{
  content: "\21BA";
  visibility: hidden;
  padding-left: 4px;
  font-size: 0.8em;
}
.title-text:hover{
  cursor:pointer;
}
.title-text:hover:after{
  visibility: visible;
}

.link{
  color: #047857;
  font-size: 1.8rem; 
  transition: padding-left 250ms ease-in-out; 
}

.link:hover{
  /*text-decoration: line-through;*/
  color: #247877;
  /*font-style: italic;*/
  cursor: pointer;
  padding-left: 0.5rem;
  text-decoration:none  ;
}

.link:before{
  display:none;
  content: "\21D2 Go to \205D";
  font-size: 1.1rem;
}

.link:hover:before{
  display: inline-block;
}

.checkout-elem{
  transition: padding-left 250ms ease-in-out; 
}
.checkout-elem:hover{
  /*text-decoration: line-through;*/
  font-style: italic;
  cursor: pointer;
  padding-left: 1rem;
}
.checkout-elem:after{
  visibility:hidden;
  content: "Return Book x";
  color: #ff1166;
  font-size: 1.2rem;
}
.checkout-elem:hover:after{
  visibility: visible;
}

.book-list{
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 35vh;
}

.all-book-list{
  @apply py-6;
  /* max-width: 800px; */
  padding: 2rem;
  color: white;
}

.all-book-list ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.all-book-list li {
  padding: 0.5rem 0;
  max-width: 400px;
  min-height: 30rem;
  background-size: cover;
  background-position: center;
  padding: 1rem;
  border-radius: 8px;
  color: white;
  text-shadow: 1px 1px 2px black;
  /* position: relative; */
  cursor: pointer;
  /* border-bottom: 1px solid #ddd; */
}

.availability-tooltip {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  opacity: 0;
  transform: translateY(5px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.book-item:hover .availability-tooltip {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.all-book-list li:last-child {
  float: left;
  /* border-bottom: none; */
}

@media (max-width: 768px) {
  .book-info-home{
    @apply flex flex-col
  }

  .all-book-list ul {
    flex-direction: column;
    align-items: center;
  }
  .all-book-list li {
    height: 70vh;
    max-width: 90%;
    text-align: center;
  }
}

.card-container:after ,
.line-animation:after 
{
  display:block;
  content: '';
  margin-top: 2rem;
  border-bottom: solid 3px #047857;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.card-container:hover:after,.card-container:active:after, .card-container:focus:after, 
.line-animation:hover:after,.line-animation:active:after, .line-animation:focus:after {
  transform: scaleX(0.75);
}

.active{
  display: block !important;
}

.nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}
.full-screen-navigation-close {
  font-size : 30px;
  cursor: pointer;
  position: absolute;
  right: 50px;
  top: 30px;
}


.full-screen-navigation-list > li {
  @apply py-[0.5em] transition-all duration-100 delay-100 ease-in-out hover:text-emerald-400;
}

.search-icon{
  display: inline-block;
  position: relative;
  right: 10px;
}