@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base{
  
  button, input[type="submit"] {
    @apply bg-emerald-400 focus:ring focus:ring-emerald-500 px-3 py-3 rounded-lg shadow-sm;
  }
}

button:hover, input[type="submit"]:hover {
  cursor: pointer;
}

@layer components{
  .field{
    @apply mt-1 block w-full
    border-emerald-500
    shadow-sm 
    px-3 py-3
    focus:outline-none focus:ring focus:ring-emerald-500 
   hover:rounded-lg
   ease-in-out transition-all duration-150;
  }

  .dashboard-container{
    @apply h-full flex justify-center;
  }
  .card-container{
    @apply /**bg-gray-400
    border-gray-400
    border-2**/

    rounded-3xl
    m-5
    p-6;
  }
  .card-container:hover,.card-container:active, .card-container:focus{
    @apply rounded-lg
    ;
  }
  .card-container > h1 {
    @apply text-4xl  font-bold
    text-black mb-6;
  }

  .split{
    @apply flex-[50%];
  }
  
  .main-content-container {
      @apply flex h-full flex-col;
  }

  .header {
    @apply flex flex-row items-center justify-between 
    bg-opacity-90 
    w-full h-48
    px-9
    hover:shadow-lg
    ease-in-out transition-all duration-150
    max-h-20;
  }
  
  .header-icon {
    @apply text-gray-500
    mr-3 ml-4
    transition duration-300 ease-in-out 
    hover:text-pink-400 
    cursor-pointer;
  }

  .header-icon:first {
    @apply ml-auto mr-4;
  }

  .title-hashtag {
    @apply text-lg tracking-wider font-semibold text-gray-500 
    ml-2 my-auto;
  }

  .title-text {
    @apply text-4xl text-emerald-800 tracking-wider font-bold text-opacity-80 
    mr-auto ml-2 my-auto 
    transition duration-300 ease-in-out;
  }

  .search {
    @apply w-1/5 flex items-center justify-start 
    bg-gray-400 dark:bg-gray-600
    text-gray-500
    px-2 h-9 ml-0 mr-0 
    rounded-md shadow-md
    transition duration-300 ease-in-out;
  }

  .search-input {
    @apply w-full font-sans font-semibold
    bg-transparent outline-none 
    text-gray-500  placeholder-gray-500
    pl-1 rounded;
  }

  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 mx-auto  
  bg-gray-400 hover:bg-green-600 dark:bg-gray-800 
  text-green-500 hover:text-white
    hover:rounded-xl rounded-3xl
    transition-all duration-300 ease-linear
    cursor-pointer shadow-lg ;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  }

  .sidebar-hr {
    @apply bg-gray-200 dark:bg-gray-800 
    border border-gray-200 dark:border-gray-800 rounded-full
    mx-2;
  }

  .book-list{
    @apply py-6;
  }

  #book-form-grid{
    @apply py-6;
  }

  .link-container{
    @apply mx-auto text-center;
  }
  
  
  
}

.title-text:after{
  content: "\21BA";
  visibility: hidden;
  padding-left: 4px;
  font-size: 0.8em;
}
.title-text:hover{
  cursor:pointer;
}
.title-text:hover:after{
  visibility: visible;
}

.link{
  color: #047857;
  font-size: 1.8rem; 
  transition: padding-left 250ms ease-in-out; 
}

.link:hover{
  /*text-decoration: line-through;*/
  color: #247877;
  /*font-style: italic;*/
  cursor: pointer;
  padding-left: 0.5rem;
  text-decoration:none  ;
}

.link:before{
  display:none;
  content: "\21D2 Go to \205D";
  font-size: 1.1rem;
}

.link:hover:before{
  display: inline-block;
}

.checkout-elem{
  transition: padding-left 250ms ease-in-out; 
}
.checkout-elem:hover{
  /*text-decoration: line-through;*/
  font-style: italic;
  cursor: pointer;
  padding-left: 1rem;
}
.checkout-elem:after{
  visibility:hidden;
  content: "Return Book x";
  color: #ff1166;
  font-size: 1.2rem;
}
.checkout-elem:hover:after{
  visibility: visible;
}

.book-list#allbooks{
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 80%;
}

.card-container:after {
  display:block;
  content: '';
  margin-top: 2rem;
  border-bottom: solid 3px #047857;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.card-container:hover:after,.card-container:active:after, .card-container:focus:after{
  transform: scaleX(0.75);
}